#detallProducte{
    width:30vw;
    height:50vh;
    border-style:double;
    border-width: 5vh;
    border-radius: 1vh;
    border-color:rgb(95, 158, 160);
    background-color:rgba(0, 0, 0, 0.89);
    margin-left:30vw;
    margin-top:20vh;
    color:rgba(255, 255, 255, 0.856);
}

#pName{
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.2vh;
}

#detallProducte img{
    width: 9vw;
    height:25vh;
    margin-left:2.2vw;

}

#desc{
    margin-left:20vw;
    z-index:2;
}

body{
    background-color: rgba(5, 107, 112, 0.89);
}

#containers {
    display: flex;
}

#menuP {
    /* text-align: center; */
    display:flex;
    flex-direction: row;
    flex-wrap: auto;
}

#logo {
    width: 125px;
    height: 125px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

#session {
    margin-top:4vh;
    width: 100px;
    height: 60px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

#menuP ul {
    margin-left: 25vw;
}

.itemsH {
    /* text-align:center; */
    
    border-radius:15px;
    color: white;
    background-color: #a531dfcb;
    /* ni idea de como pero se ve ""nice"" */
    margin-top: 4vh;
    margin-bottom:0vh;
    /* margin: 1.9vh 0vw; */
    /* las magnitudes son horribles, mirar */
    padding: 0.5vh 1.5vw;
    list-style-type: none;
    float: left;
    transition: ease-out 85ms;
}

#menuP li button {
    text-align: center;
    font-size:small;
    /* margin-bottom:1vh; */
    background:none;
    border:none;
    color:white;
}

#textH {
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 4vh;
    padding-left: 1.75vw;
    padding-right: 3vw;
}

#menuP li:hover {
    background-color:#831083bb;
    /* padding: 0.12em 1.2em 0.7em 1.2em;  */
    text-align: center;
    /* animation-duration:10s; */
}

#text {
    flex-direction:row;
    padding-left: 0px;
}

#categories {
    flex-direction: row;
}

header {
    background-color:rgba(228, 231, 14, 0.801);
    border-radius:7px;
}

#myButton {
    color:white;
    background-color:black;
    width: 7vw;
    height: 2vh;
}

.desplegable {
    float:left;
    margin-top:5vh;
    visibility:hidden;
    /* margin-right:3vw; */
}

#cont{
    display:flex;
}

.prod{
    height: 22vh;
    width: 22vw;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(209,180,217,1) 48%, rgba(148,187,233,1) 100%);
    padding:25px;
    margin:25px;
    flex: auto;
    border: 2.5px;
    border-style:ridge;
    border-color:black;
    border-radius:0.7vh;
}

#formulario{
    margin:17vh 41vw;
}

header h1{
    margin-left:38vw;
    margin-top:7vh;
    color:brown;
}

body label{

    color:black;
}